@font-face {
    font-family: Village;
    src: url(fonts/Village-wLn3.ttf);

}

@font-face {
    font-family: StarBorn;
    src: url(fonts/Starborn.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue; /* Aplica el fondo a todo el cuerpo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Village, sans-serif; /* Usa la fuente personalizada */
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header li {
    margin: 0 15px;
}

header li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 2px;
}

header .logo img {
    height: 80px; /* Ajusta la altura del logo */
    width: 80px; /* Ajusta la anchura del logo */
}

main {
    background-color: aliceblue;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 200vh; 
}

.Fondo {
    height: 80vh;
    background-image: url('img/MusicaFondo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


.seccion1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60vh; /* Ajusta la altura de la sección en unidades relativas */
    margin-bottom: 40px; /* Añade un margen inferior para separar la sección 1 de la sección 2 */
}

.FondoSec1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.CD {
    width: 30%; /* Ajusta el ancho del GIF en unidades relativas */
    height: auto;
    position: relative;
    z-index: 2;
}

.seccion2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
}

.seccion2 .grid-item {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.seccion2 .grid-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.seccion2 .grid-item h3 {
    font-family: StarBorn, sans-serif;
    margin-bottom: 10px;
}

.seccion2 .grid-item p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}











footer {
    background-color: #333;
     color: white; 
     display: flex;
     justify-content: space-around; 
     align-items: center; 
     padding: 20px; 
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 