/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px) {

    /* Ajustes para el contenido principal */
    .tienda {
        padding: 20px; /* Espaciado interno */
    }

    .productos {
        grid-template-columns: 1fr; /* Una columna en móviles */
        gap: 20px; /* Espacio entre las tarjetas */
    }

    .tarjeta {
        padding: 15px; /* Espaciado interno de las tarjetas */
    }

    .tarjeta h3 {
        font-size: 18px; /* Tamaño del título */
    }

    .tarjeta p {
        font-size: 16px; /* Tamaño del precio */
    }

    .boton-compra {
        padding: 8px 12px; /* Espaciado del botón */
        font-size: 14px; /* Tamaño del texto del botón */
    }

    /* Ajustes para el footer */
    footer {
        flex-direction: column; /* Apila los elementos del footer */
        text-align: center; /* Centra el texto */
        padding: 10px; /* Espaciado interno */
    }


    .menu-container .menu li a {
        font-size: 15px; /* Reducir ligeramente el tamaño de la fuente si es necesario */
    }

    .menu-container {
        padding: 10px 0; /* Reducir el padding del menú */
    }

}