@media (max-width: 768px) {
    .Fondo {
        height: 100vh; /* Ajusta la altura automáticamente */
    }

    .tour-calendar {
        width: 95%; /* Aumenta el ancho para aprovechar mejor el espacio */
        padding: 15px; /* Reduce el padding */
    }

    .tour-calendar h2 {
        font-size: 24px; /* Reduce el tamaño de la fuente */
        margin-bottom: 15px; /* Reduce el margen inferior */
    }

    .tour-calendar table {
        font-size: 14px; /* Reduce el tamaño de la fuente de la tabla */
    }

    .tour-calendar th,
    .tour-calendar td {
        padding: 8px; /* Reduce el padding de las celdas */
        font-size: 16px; /* Reduce el tamaño de la fuente */
    }

    .tour-calendar .buy-tickets {
        padding: 6px 12px; /* Reduce el padding del botón */
        font-size: 14px; /* Reduce el tamaño de la fuente del botón */
    }

    footer {
        flex-direction: column; /* Cambia la dirección a columna */
        text-align: center; /* Centra el texto */
        padding: 15px; /* Reduce el padding */
    }

    footer p {
        margin: 5px 0; /* Ajusta los márgenes de los párrafos */
    }

    /* Añade estas reglas para ajustar el menú */
    .menu-container .menu li a {
        font-size: 22px; /* Reducir ligeramente el tamaño de la fuente */
    }

    .menu-container {
        padding: 10px 0; /* Reducir el padding del menú */
    }
}

@media (max-width: 480px) {
    .tour-calendar {
        width: 100%; /* Ocupa todo el ancho disponible */
        padding: 10px; /* Reduce aún más el padding */
    }

    .tour-calendar h2 {
        font-size: 20px; /* Reduce más el tamaño de la fuente */
    }

    .tour-calendar th,
    .tour-calendar td {
        font-size: 14px; /* Reduce más el tamaño de la fuente */
        padding: 6px; /* Reduce más el padding de las celdas */
    }

    .tour-calendar .buy-tickets {
        padding: 5px 10px; /* Reduce más el padding del botón */
        font-size: 12px; /* Reduce más el tamaño de la fuente del botón */
    }

    /* Añade estas reglas para ajustar el menú en pantallas más pequeñas */
    .menu-container .menu li a {
        font-size: 18px; /* Reducir aún más el tamaño de la fuente */
    }

    .menu-container {
        padding: 5px 0; /* Reducir aún más el padding del menú */
    }
}