@media (max-width: 425px) and (orientation: portrait) {
    .Fondo {
        height: 100vh; /* Ajusta la altura automáticamente */
    }

    .tour-calendar {
        width: 95%; /* Aumenta el ancho para aprovechar mejor el espacio */
        padding: 15px; /* Reduce el padding */
    }

    .tour-calendar h2 {
        font-size: 24px; /* Reduce el tamaño de la fuente */
        margin-bottom: 15px; /* Reduce el margen inferior */
    }

    .tour-calendar table {
        font-size: 14px; /* Reduce el tamaño de la fuente de la tabla */
    }

    .tour-calendar th,
    .tour-calendar td {
        padding: 8px; /* Reduce el padding de las celdas */
        font-size: 16px; /* Reduce el tamaño de la fuente */
    }

    .tour-calendar .buy-tickets {
        padding: 6px 12px; /* Reduce el padding del botón */
        font-size: 14px; /* Reduce el tamaño de la fuente del botón */
    }

    footer {
        flex-direction: column; /* Cambia la dirección a columna */
        text-align: center; /* Centra el texto */
        padding: 15px; /* Reduce el padding */
    }

    footer p {
        margin: 5px 0; /* Ajusta los márgenes de los párrafos */
    }

    /* Añade estas reglas para ajustar el menú */
    .menu-container .menu li a {
        font-size: 22px; /* Reducir ligeramente el tamaño de la fuente */
    }

    .menu-container {
        padding: 10px 0; /* Reducir el padding del menú */
    }
}

@media (max-width: 375px) and (orientation: portrait) {
    .Fondo {
        height: 100vh; /* Ajusta la altura automáticamente */
    }

    .tour-calendar {
        width: 95%; /* Aumenta el ancho para aprovechar mejor el espacio */
        padding: 10px; /* Reduce el padding */
    }

    .tour-calendar h2 {
        font-size: 22px; /* Reduce el tamaño de la fuente */
        margin-bottom: 10px; /* Reduce el margen inferior */
    }

    .tour-calendar table {
        font-size: 12px; /* Reduce el tamaño de la fuente de la tabla */
    }

    .tour-calendar th,
    .tour-calendar td {
        padding: 6px; /* Reduce el padding de las celdas */
        font-size: 14px; /* Reduce el tamaño de la fuente */
    }

    .tour-calendar .buy-tickets {
        padding: 5px 10px; /* Reduce el padding del botón */
        font-size: 12px; /* Reduce el tamaño de la fuente del botón */
    }

    footer {
        flex-direction: column; /* Cambia la dirección a columna */
        text-align: center; /* Centra el texto */
        padding: 10px; /* Reduce el padding */
    }

    footer p {
        margin: 5px 0; /* Ajusta los márgenes de los párrafos */
    }

    /* Añade estas reglas para ajustar el menú */
    .menu-container .menu li a {
        font-size: 20px; /* Reducir ligeramente el tamaño de la fuente */
    }

    .menu-container {
        padding: 8px 0; /* Reducir el padding del menú */
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .Fondo {
        height: 180vh; /* Ajusta la altura del fondo */
        background-position: top; /* Asegura que la imagen de fondo esté bien posicionada */
    }

    .tour-calendar {
        width: 95%; /* Ocupa casi todo el ancho disponible */
        padding: 15px; /* Reduce el padding para aprovechar el espacio */
       
    }

    .tour-calendar h2 {
        font-size: 24px; /* Reduce el tamaño del título */
        margin-bottom: 15px; /* Reduce el margen inferior */
    }

    .tour-calendar table {
        font-size: 14px; /* Reduce el tamaño de la fuente de la tabla */
    }

    .tour-calendar th {
        padding: 10px; /* Reduce el padding de las celdas */
        font-size: 18px; /* Reduce el tamaño de la fuente de los encabezados */
    }

    .tour-calendar td {
        padding: 10px; /* Reduce el padding de las celdas */
        font-size: 16px; /* Reduce el tamaño de la fuente del contenido */
    }

    .tour-calendar .buy-tickets {
        padding: 8px 16px; /* Ajusta el padding del botón */
        font-size: 14px; /* Reduce el tamaño de la fuente del botón */
    }

    /* Ajustes adicionales para mejorar la legibilidad */
    .tour-calendar th,
    .tour-calendar td {
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    }

    .tour-calendar td {
        vertical-align: middle; /* Alinea el contenido verticalmente en las celdas */
    }

    .tour-calendar .buy-tickets {
        white-space: nowrap; /* Evita que el texto del botón se divida */
    }
}


@media (min-width: 769px) and (max-width: 1199px) and (orientation: landscape) {
    .Fondo {
        height: 110vh; 
    }

    .tour-calendar {
        width: 90%; 
        padding: 18px;
    }

    .tour-calendar h2 {
        font-size: 28px; 
        margin-bottom: 18px;
    }

    .tour-calendar table {
        font-size: 16px; 
    }

    .tour-calendar th,
    .tour-calendar td {
        padding: 10px;
        font-size: 22px; 
    }

    .tour-calendar .buy-tickets {
        padding: 7px 14px;
        font-size: 16px;
    }

    header li a {
        font-size: 28px; 
    }

    header .logo img {
        height: 70px;
        width: 70px;
    }

    .menu-icons img {
        width: 25px;
        height: 25px;
    }
}


@media (min-width: 769px) and (max-width: 1199px) and (orientation: portrait) {
    .Fondo {
        height: 100vh;
    }

    .tour-calendar {
        width: 92%;
        padding: 16px;
    }

    .tour-calendar h2 {
        font-size: 26px;
        margin-bottom: 16px;
    }

    .tour-calendar table {
        font-size: 15px;
    }

    .tour-calendar th,
    .tour-calendar td {
        padding: 9px;
        font-size: 20px; 
    }

    .tour-calendar .buy-tickets {
        padding: 7px 14px;
        font-size: 15px;
    }


    header li a {
        font-size: 26px;
        letter-spacing: 1px; 
    }

    header li {
        margin: 0 10px; 
    }

    header .logo img {
        height: 65px;
        width: 65px;
    }

    .menu-icons {
        margin-right: 25px;
    }

    .menu-icons img {
        width: 24px;
        height: 24px;
    }
}